{% extends 'base.html' %}
{% block title %} Create Location {% endblock %}
{% block content %}
{% load static %}

<!-- Page Header -->
<div class="page-header-breadcrumb d-md-flex d-block align-items-center justify-content-between ">
    <h4 class="fw-medium mb-0">Create Location</h4>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'locations_list' %}" class="text-white-30">Dashboard</a></li>
        <li class="breadcrumb-item active" aria-current="page">Location</li>
    </ol>
</div>
<div class="main-content app-content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-xl-12">
                <div class="card custom-card">
                    <div class="card-body">
                        <form method="post">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="district" class="form-label">District</label>
                                <select class="form-select" id="district" name="district" required>
                                    <!-- Loop through district_values and populate options -->
                                    {% for district in district_values %}
                                    <option value="{{ district.district_id }}">{{ district.name }}</option>
                                    {% endfor %}
                                </select>   
                            </div>
                            <div class="mb-3">
                                <label for="location_name" class="form-label">Location Name</label>
                                <input type="text" class="form-control" id="location_name" name="location_name" required>
                            </div>
                            <div class="col-12 text-end mt-5">
                                <input type="submit" class="btn btn-primary me-2 mb-2" value="Submit">
                                <button class="btn btn-success   me-md-2  mb-2" type="button" onClick="javascript:history.go(-1);">
                                    <i class="bi bi-backspace-fill pe-1"></i>Back</button>
                                <a class="btn btn-success me-md-2  mb-2"
                                href="{% url 'locations_list' %}"> <i class="bi bi-backspace-fill pe-1"></i>Back to Dashboard </a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}
